@import "tailwindcss";

:root {
    --background: #f4f4f4;
    --foreground: #171717;
    --color-accent: #41da98;
    --color-accent-dark: #1f7951;
    --color-dark: #031e1e;
    --color-secondary: #8a8a8a;
    --color-secondary-dark: #4a4a4a;
    --color-danger: #cb0505;
}

[data-theme="dark"] {
    --background: #020a0a;
    --foreground: #e0e0e0;
    --color-accent: #41da98;
    --color-accent-dark: #1f7951;
    --color-dark: #031e1e;
    --color-secondary: #c0c0c0;
    --color-secondary-dark: #4a4a4a;
    --color-danger: #ef3636;
}

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--color-accent);
    --color-accent-dark: var(--color-accent-dark);
    --color-dark: var(--color-dark);
    --color-secondary: var(--color-secondary);
    --color-secondary-dark: var(--color-secondary-dark);
    --color-danger: var(--color-danger);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
}

.page-padding {
    @apply lg:p-16 lg:pt-28 md:p-8 md:pt-20 p-4 pt-16;
}

.submit-btn {
    @apply inline-flex items-center justify-center px-4 py-1 gap-2 border-foreground border cursor-pointer rounded-md hover:border-accent hover:text-accent duration-200 text-center hover:bg-accent/20;
}

.submit-btn2 {
    @apply inline-flex items-center justify-center bg-accent text-white px-4 py-1 gap-2 border-foreground cursor-pointer rounded-md duration-200 text-center font-semibold hover:bg-white hover:text-accent  shadow-md hover:shadow-lg ;
}

.hover-btn {
    @apply cursor-pointer duration-200 hover:bg-secondary/40 rounded-md flex items-center justify-center p-1;
}

.form-container {
    @apply w-full flex flex-col items-center justify-center gap-4 rounded-md border-accent p-4;
}

.input-container {
    @apply flex flex-col gap-1 w-full;
}

.input-label {
    @apply font-semibold text-secondary ;
}

.input-bar {
    @apply w-full rounded-md border border-secondary p-2 focus:outline-none focus:border-accent duration-200 focus:bg-accent/20 placeholder:text-secondary/70 ;
}